@font-face {
  font-family: "Futura";
  src: url('./assets/fonts/futura medium bt.ttf') format('truetype');
}

* {
  margin: 0;
  box-sizing: border-box;
}

.fw-700 {
  font-weight: 700;
}

.fw-500 {
  font-weight: 500;
}

.fw-400 {
  font-weight: 400;
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-22 {
  font-size: 22px;
}

.fs-25 {
  font-size: 25px;
}

.fs-normal {
  font-style: normal !important;
}

.lh-46 {
  line-height: 46px;
}

.lh-36 {
  line-height: 36px;
}

.lh-31 {
  line-height: 31px;
}

.lh-22 {
  line-height: 22px;
}

.font-futura {
  font-family: "Futura";
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

.flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-items {
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.text-primary {
  color: #1c4ca0;
}

.text-sec {
  color: #83b7e2;
}

.text-white {
  /* font-family: "Futura"; */
  /* font-size: 14px; */
  /* font-weight: 700; */
  color: #ffffff;
}

.mtb-2 {
  margin: 2.5rem 0rem;
}

.container {
  height: 900px;
  width: 100%;
  background-image: url("./assets/images/hero-1.jpg");

}

.header {
  padding: 25px 96px;
  width: 100%;
  /* height: 120px; */
  background-color: transparent;
}


.bg-image {
  background-image: url("./assets/images/hero-2.jpg");

}

.nav {
  padding: 150px 10px 0px 645px;
  /* float: right;
  margin-right: 8rem;
  margin-top: 9rem; */
}

ul li {
  list-style-type: none;

}

.nav ul li {
  display: inline-block;
}

.nav ul li a {
  text-decoration: none;
  padding: 20px 9px 20px 0px;
  display: block;
  text-transform: uppercase;


}
.checkbtn{
  display: none;
}
#check{
  display: none;
}
/* @media(max-width:768px) {

  .checkbtn {
    display: block;
    position: fixed;
    top: 50px;
    left: 90%;
    float: right;
    font-size: 30px;
    color: red;
  }

  .checkbtn:hover {
    cursor: pointer;
  }

  nav ul {
    width: 100%;
    height: 100vh;
    background: white;
    left: -100%;
    text-align: center;
    transition: all .5s;
    position: fixed;
    top: 80px;
    display: flex; 
     justify-content: center; */
   /* flex-direction: column;  */
  /* }
 
  #check {
    position: fixed;
    top: 60px;
    left: 90%;
    display: none;

  } */

  /* nav ul li { */
    /* display: block; */
    /* margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px ;
  }

  a:hover,
  a.active {
    background: none;
    color: #0082e6;
  }

  #check:checked~ul {

    left: 0%;
    top: 20% !important;
  } */

 /* .header{
  position: fixed;
  background-color: #FFFFFF;
 } */

/* } */

/* @media(max-width-1313px){
    .nav {
      padding: 0px 10px 0px 645px;
    }
  } */
.primary-text {
  padding: 36px 40px;
  /* padding: 36px 100px 36px 40px; */
  background: #1c4ca0;
  font-size: 12px !important;
  font-weight: 500 !important;
  color: #ffffff !important;
  max-width: 611px;
  margin-left: 2.5rem;

}

.padding-special {
  padding: 56px 40px !important;
}

.primary h2 {
  margin: 0px 0px 2px;
}

.bg-secondary {
  background-color: #83b7e2;
}

.bg-primary {
  background-color: #1C4CA0;
}

.col1 {

  padding: 0px 28px 0px 10px;

}

.col2 {
  /* padding: 0px 10px 0px 32px; */
  padding: 0px 76px 58px 32px;
}

.col2 h3 {
  font-size: 20px !important;
}

.mx-width-335 {
  max-width: 335px;
}

.col1-style {
  max-width: 335px;
  margin: 0px 0px 18px 100px;
  /* font-size: 20px !important; */
  line-height: 31px !important;
}

.col2-style {
  max-width: 335px;
  margin: 0px 0px 18px 100px;
  font-size: 20px !important;
  line-height: 31px !important;
}

.section {
  /* padding: 60px 0px 84px; */
  padding: 128px 0px 24px;
  display: flex;
  justify-content: space-around;

}

/* --------------------------------------------------Branch------------------------------------------------------------------- */

.branch {
  width: 100%;
}

.branch__head {
  position: relative;
  margin-bottom: 16px;
  padding-bottom: 16px;
}

.branch__head:before {
  content: "";
  position: absolute;
  right: 50%;
  bottom: -50px;
  height: 40px;
  width: 1px;
  background-color: #ffffff;
}

.branch__body {
  display: block;
  width: 100%;
  min-height: 30px;
  padding-top: 80px;
  overflow: hidden;
  margin-top: 2rem;
}

.branch__child {
  position: relative;
  width: 260px;
}

.branch__child:before {
  content: "";
  position: absolute;
  right: 50%;
  top: -80px;
  height: 82px;
  width: 1px;
  background-color: #ffffff;
}

.branch__child:after {
  content: "";
  position: absolute;
  top: -80px;
  height: 80px;
  right: -20px;
  left: -20px;
  border-top: 1px solid #ffffff;
}

.branch__child:first-child:before {
  content: "";
  position: absolute;
  right: -80px;
  top: -80px;
  height: 80px;
  width: calc(50% + 80px);
  border-top-left-radius: 55px;
  border-style: solid;
  border-color: #ffffff transparent transparent #ffffff;
  border-width: 1px 0 0 1px;
  background-color: transparent;
}

.branch__child:first-child:after {
  content: none;
}

.branch__child:last-child:before {
  content: "";
  position: absolute;
  left: -80px;
  right: auto;
  top: -80px;
  height: 80px;
  width: calc(50% + 80px);
  border-top-right-radius: 55px;
  border-style: solid;
  border-color: #ffffff #ffffff transparent transparent;
  border-width: 1px 1px 0 0;
  background-color: transparent;
}

.branch__child:last-child:after {
  content: none;
}

.branch__child--stright:after {
  content: none;
  border: none;
}

.branch__child--stright:before {
  top: -1000px;
  height: 1000px;
}

/* .branch__child--stright:first-child:before,
  .branch__child--stright:last-child:before {
    border-radius: 0;
    width: 1px;
    background-color: #ffffff;
    left: auto;
    right: 50%;
    top: -1000px;
    height: 1000px;
  } */

.branch__content {
  padding: 16px;
}

.branch__content p {
  margin: 0;
}

/* ---------------------------------------------------------------------------s */
/* @media (max-width: 991.98px) {
    .branch .branch__head {
      padding-bottom: 0 ;
      margin-bottom: 0 ;
    }
    .branch .branch__head:before,
    .branch .branch__head:after,
    .branch .branch__child:before,
    .branch .branch__child:after {
      content: none !important;
    }
    .branch .branch__body {
      padding-top: 0 ;
    }
  } */

/* Plate
    ---------------------------------------------------------------------------------------------- */
.plate {
  padding-bottom: 20px;
  display: block;

}

.plate__content {
  position: relative;
  display: inline-block;
  width: 130px;
  height: 130px;
  line-height: 130px;
  text-align: center;
  border: 0.5px solid #1c4ca0;
  border-radius: 30px;
  transform: rotate(45deg);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  padding-left: 2rem;
  margin: 0px 40px 0px 0px;
  margin-left: 3rem;

}

.plate__content-wrapper {
  position: relative;
  transform: rotate(-45deg);
  z-index: 2;
}

.plate__content:before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  z-index: 1;
  background-color: #1c4ca0;
  border-radius: 20px;
}

.plate__caption {
  margin-top: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .plate--small {
    display: flex;
    padding: 10px;
    align-items: center;
  } */

/* .plate--small .plate__content {
    flex: 0 0 73px;
    width: 73px;
    height: 73px;
    line-height: 73px;
    border-radius: 15px;
  } */

/* .plate--small .plate__content:before {
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    border-radius: 10px;
  } */

/* .plate--small .plate__caption {
    margin-left: 34px;
    margin-top: 0;
  } */

/* a.plate {
    color: #ffffff;
    transition: all 200ms ease-in;
  } */

/* @media (prefers-reduced-motion: reduce) {
    a.plate {
      transition: none !important;
    }
  } */

/* a.plate .plate__content {
    border-color: #6999d0 !important;
    transition: all 200ms ease-in !important;
  } */

/* @media (prefers-reduced-motion: reduce) {
    a.plate .plate__content {
      transition: none !important;
    }
  } */

/* a.plate .plate__content:before {
    background-color: #6999d0 ;
    transition: all 200ms ease-in ;
  }
  
  @media (prefers-reduced-motion: reduce) {
    a.plate .plate__content:before {
      transition: none ;
    }
  }
  
  a.plate.active {
    text-decoration: none;
    color: #1c4ca0;
  }
  
  a.plate.active .plate__content {
    border-color: #1c4ca0;
  }
  
  a.plate.active .plate__content:before {
    background-color: #1c4ca0;
  } */
/* .swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
  }
  @media (max-width: 991.98px) {
    a.plate.swiper-slide {
      width: 180px;
    }
  }
  
  @media (min-width: 768px) {
    a.plate:hover {
      text-decoration: none;
      color: #1c4ca0;
    }
    a.plate:hover .plate__content {
      border-color: #1c4ca0;
    }
    a.plate:hover .plate__content:before {
      background-color: #1c4ca0;
    }
  } */
/* -------------------------------------------------------------------------- */


.row {
  display: flex;

}

.text-center {
  text-align: center !important;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #333333;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.7;
  border-radius: 12px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.text-deco-none {
  text-decoration: none;
}

.btn {
  font-family: 'Futura';
  border-radius: 0;
  padding: 0 24px;
  min-width: 190px;
  line-height: 46px;
  height: 48px;
  border-width: 0.5px;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1px;
}

.btn-outline-white {
  background-color: transparent;
  border-color: #FFFFFF;
  color: #FFFFFF;
}

.btn-outline-white:hover {
  color: #FFFFFF;
  background-color: #1C4CA0;
  border-color: #1C4CA0;
}

.btn-outline-primary {
  color: #1C4CA0;
  border-color: #1C4CA0;
  padding: 0px 24px;
  margin-top: 40px;
}

.btn-outline-primary:hover {
  color: #FFFFFF;
  background-color: #1C4CA0;
  border-color: #1C4CA0;
}

.btn-outline-primary:focus,
.btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(28, 76, 160, 0.5);
}

.h-100 {
  height: 100% !important;
}

.ml-2 {
  margin-left: 2.5rem;
}

.display-3 {
  font-size: 2rem;
  max-width: 331px;
}

.text {
  font-family: sans-serif;
}

.mx-width-613 {
  max-width: 613px !important;
}

.mx-wh-1423-1080 {
  width: 1423px !important;
  height: 1080px !important;
}

/* -----------------------------------Slider------------------------------- */
.carousel-cell {
  width: 100%;
}

/* cell number */
.carousel-cell:before {
  display: block;
}

.carousel-cell p {
  /* padding: 0px 0px 30px; */
  margin-top: 8rem;
  margin-left: 10rem;
  /* margin-bottom: 1rem; */
  /* color:#a1c8e9; */

}

.carousel-cell h4 {
  margin-top: 2rem;
  margin-left: 10rem;
}

.mx-width-1010 {
  max-width: 1100px;
  max-height: 515px;
}

/* ------------------------------------------------------------------------------- */
/* smaller, dark, rounded square */
.flickity-button-icon {
  /* fill: #a1c8e9; */
  color: #8cbfe9;

}

/* ----------------------- */
/* ----------------------------------------Footer------------------------------------------- */

.my-10 {
  margin-top: 10px !important;
}

.my-96 {
  margin-top: 96px;
}


.border-bottom {
  border-bottom: 1px solid #dee2e6 !important;
  width: 300px;
  margin-left: 5rem;
}

.text-right {
  text-align: right !important;
}

.text-lg-left {
  text-align: left !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

footer {
  /* padding: 60px 0px; */
  padding-top: 60px;
  padding-bottom: 40px;
  padding-left: 96px;
  padding-right: 96px;
}

footer address {
  margin: 0px 0px 16px;

}

.fa-brands {
  width: 48px;
  height: 48px;
}

.fa-twitter {
  border-radius: 50%;
  color: #1c4ca0;
  background-color: #ffffff;
  padding: 8px 6px 2px 2px
}

.footer-right {
  padding-top: 1rem;
  padding-left: 13rem;

}

.footer-right li {
  padding: 0px 0px 0px 10px;
}

footer ul li {
  padding: 0px 0px 16px;
}

footer ul li a {
  text-decoration: none;

}

ul li a:hover,
ul li i:hover {
  color: #83b7e2;
  cursor: pointer;
}

::selection {
  background: #1c4da1;
  color: #000;
}